.search-filter {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  .input-field {
    display: flex;
    align-items: center;
    input {
      font-size: 16px;
      padding: 5px 8px; 
      min-width: 200px;
      border-radius: 4px;
      border: 1px solid #ccc;
      &:focus {
        outline-color: #569ceb;
      }
      }
  }
  .clear-btn {
    display: flex;
    align-items: center;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
      color: white;
      background-color: #569ceb;
      padding: 6px 20px;
      font-size: 16px;
      height: 100%;
      border-radius: 4px;
      transition: all 0.2s;
      transform: scale(1);
      &:hover {
        background: #569cebbc;
        transition: all 0.2s;
      }
      &:active {
        transform: scale(1.05);
        transition: all 0.2s;
      }
    }
  }
}